@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$main-text-colour: #ffffff;
$background-colour: linear-gradient(to right, rgb(150, 118, 184), rgb(34, 0, 48));

// use ng bootstrap docs for styling: https://ng-bootstrap.github.io/#/home
body {
    margin: 0;
    background: $background-colour;
}

body, p, th, td, .nav-link {
    font-family: 'Inter', sans-serif;
}

.navbar-nav {
    margin: 0;
}

.container-fluid {
    padding-left: 12px;
}

.nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #737373
}

table {
    width: 50%;
    margin-left: 12px;
    border-collapse: collapse; // removes double borders
}


th, td {
    padding: 6px 8px;
    border: 1px solid #6366f1;
    background-color: rgba(30, 27, 75, 0.7);
    color: $main-text-colour;
}

p {
    padding-top: 6px;
    margin-left: 12px;
    color: $main-text-colour;
}


button {
    padding: 6px 12px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    color: $main-text-colour;
}

button.update {
    background-color: #28a745;
}

button.update:hover {
    background-color: #218838;
}

button.delete {
    background-color: #dc3545;
}

button.delete:hover {
    background-color: #c82333;
}

.modal-backdrop {
    background-color: rgba(0,0,0,0.3);
}
