<p>All expenses EVERYONE because you are an ADMIN</p>

<table>
  <thead>
    <th>Name</th>
    <th>Amount</th>
    <th>Category Name</th>
    <th>User Name</th>
    <th>User Email</th>
  </thead>
  <tbody>
    @for (expense of expenses; track expense.id) {
      <tr>
        <td>{{expense.name}}</td>
        <td>{{expense.amount}}</td>
        <td>{{expense.categoryName}}</td>
        <td>{{expense.userName}}</td>
        <td>{{expense.userEmail}}</td>
      </tr>
    }
  </tbody>
</table>
<p></p>
<p>This is a list of all the users in the system.</p>
<table>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Date of Birth</th>
    <th>Is user admin?</th>
  </thead>

  @for (user of users; track user.id) {
    <tbody>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.dateOfBirth}}</td>
      <td>{{user.isAdmin ? 'Yes' : 'No'}}</td>
    </tbody>
  }
</table>