<ng-template #successDeleteTpl>✅ Expense &quot;{{expenseName}}&quot; deleted successfully!</ng-template> 
<ng-template #successUpdateTpl>✅ Expense updated successfully!</ng-template>
<ng-template #successCreateTpl>✅ Expense &quot;{{expenseName}}&quot; created successfully!</ng-template>

<ng-template #failureDeleteTpl>✖ Failed to delete &quot;{{expenseName}}&quot; expense. Please try again.</ng-template>
<ng-template #failureUpdateTpl>✖ Failed to update expense. Please try again.</ng-template>
<ng-template #failureCreateTpl>✖ Failed to create expense. Please try again.</ng-template>

<p>All expenses from database from current user:</p>

<div class="quick-input-container">
  <input type="text" class="quick-input" placeholder="⚡ Add expense super fast!" (keyup.enter)="parseUserInput($event)" #quickInput>

</div>

<div class="table-container">
  <table>
    <thead>
      <th>Name</th>
      <th>Amount (£)</th>
      <th>Category</th>
      <th>Actions</th>
    </thead>
    <tbody>
      @for (expense of expenses; track expense.id) {
        <tr>
          <td>{{expense.name}}</td>
          <td>{{expense.amount}}</td>
          <td>{{expense.categoryName}}[{{expense.categoryIcon}}]</td>
          <td>
            <button class="update" (click)="updateExpense(expense, successUpdateTpl, failureUpdateTpl)">Update ✏️</button>
            <button class="delete" (click)="openDeleteModal(expense)">Delete 🗑️</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <button class="createExpenseBtn" (click)="createExpense(successCreateTpl, failureCreateTpl)">Create new expense</button>
</div>


@if (showDeleteModal) {
  <app-confirmation-modal
    [confirmationMessage]="'Are you sure you want to delete the &quot;' + expenseToDelete?.name + '&quot; expense?'"
    (confirmed)="deleteExpense(expenseToDelete!.id, successDeleteTpl, failureDeleteTpl)"
    (cancelled)="closeDeleteModal()">
  </app-confirmation-modal>
}
