.table-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.createExpenseBtn{
    background-color: #28a745;
}

.quick-input-container {
    padding: 8px 12px;
    position: relative;

    .quick-input {
        border-radius: 15px;
        border: 1px solid #ccc;
        background-color: rgb(57, 0, 66);
        padding: 8px 12px;
        width: 50%;
        color: #ffffff;
        
        &::placeholder {
            color: #ffffff;
        }
    }

    .voice-btn {
        position: absolute;
        background: transparent;
        left: calc(50% - 50px);
        cursor: pointer;
        font-size: 1.2rem;
        &:hover {
            opacity: 0.7;
        }

        &.listening {
            animation: pulse 2.5s ease-in-out infinite;
        }
    }

    @keyframes pulse {
        0%, 100% {
            transform: scale(1.3);
            opacity: 1;
        }

        50% {
            transform: scale(1.1);
            opacity: 0.7;
        }
    }
}